@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;600;800&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Asap', sans-serif;
}
h2{
    font-family: 'Satisfy', cursive;
}